<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>江苏乐道胡巴介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header backImg">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">
                <h2>江苏乐道胡巴公司简介</h2>
                <br>
                <h4 class="text-danger">历史沿革</h4>
                江苏乐道胡巴投资管理有限公司成 立于2016年，专业从事不良债权的投 资、处置、管理、运营和资金配套服 务，
                现已成为江苏地区知名的违约市 场综合服务商。
                依托乐道控股超过20年的不良资产 行业经验、广泛的业务渠道和客户资 源，公司现业务遍及江苏省13个地级 市，
                累计清收处置的债权超过100亿元。 公司与PAG、海岸投资、各大AMC 及 众多银行建立了良好的合作关系
            </blockquote>
            <hr>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
